# Redirect unencrypted www traffic to non-www SSL domain
server {
  listen 80;
  server_name www.example.com;
  return 301 https://example.com$request_uri;
}

# Redirect encrypted www traffic to non-www SSL domain
server {
  listen 443 ssl;
  server_name www.example.com;
  ssl_certificate /etc/nginx/certs/example.com.crt;
  ssl_certificate_key /etc/nginx/certs/example.com.key;
  ssl_dhparam /etc/nginx/certs/example.com.dhparam.pem;
  return 301 https://example.com$request_uri;
}
